.current-weather-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
    flex: 1;
}

.current-weather-container h1{
    font-size: 24px;
    margin: 0;
    letter-spacing: 2px;
}

.current-weather-container img{
    margin-bottom: 10px;
}

.current-weather-container div{
    font-size: 40px;
    font-weight: 600;
}

.current-weather-container p{
    font-size: 20px;
    font-weight: 400;
}

.weathers-container{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.weather-time{
 display: flex;
 align-items: center;
 gap: 10px;
 border-bottom: 1px solid #707070;
 padding: 5px 0;
}